@layer components {
  .perspective-1000 {
    perspective: 1000px;
  }
  
  .book-container {
    perspective: 1000px;
  }

  .book {
    transform-style: preserve-3d;
    transition: transform 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .book:hover {
    transform: rotateY(-20deg) rotateX(10deg) scale(1.05);
  }

  .book-front, .book-back, .book-spine, .book-pages {
    position: absolute;
    transform-style: preserve-3d;
  }
}
